
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    font-family: 'Titillium Web', sans-serif;
    max-width: 1440px;
    margin: auto;

    /*background-image: url("./imagine/background/left.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 0 41%;*/

    background: url("./imagine/background/left.png") 0 42% no-repeat,
    url("./imagine/background/left.png") 0 80% no-repeat,
    url("./imagine/background/right.png") 100% 58% no-repeat;
}

/*===================== text setting ===========================*/

body {
    font-size: 18px;
    letter-spacing: 0;
    line-height: 28px;

    color: #0B1511;
}

body h1, h2, h3 {
    margin: 0;
}

.title {
    color: #0B1511;

    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 56px;
}

.subtitle {
    size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28;
}

/*==================== Header setting =====================*/

.header {
    background-image: url("./imagine/header/Group 28.png");
    background-repeat: no-repeat;
    background-position: 482px -420px;
    display: flex;
    flex-wrap: wrap;
}

.nav-bar {
    height: 90px;
    margin: auto;
    display: flex;

    align-items: center;
    position: fixed;
    z-index: 999;
}

.logo {
    width: 169px;
    margin-right: 72px;
}

.nav-menu {
    /*width: 86%;*/
}

.nav-menu ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #0B1511;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;

}

.telegram {
    position: relative;
    margin-left: 25px;
}

.telegram:before {
    content: url("./imagine/header/telegram.png");
    position: absolute;
    left: -24%;
    top: 11%;
}

.menu-item {
    margin-right: 32px;
}

.banner {
    align-self: center;

    margin-left: 70px;
    margin-top: 220px;
    margin-bottom: 165px;
}

.main-title {
    max-width: 600px; /*temporarily*/

    font-size: 56px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 64px;

}

.title-text {
    width: 528px; /*temporarily*/

    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-top: 12px;
}

.mt-76 {
    margin-top: 76px;
}

.header-btn-wrap {
    margin-top: 16px;
}

.header-btn {
    height: 48px;
    width: 171px;
    border: none;
    border-radius: 24px;
    background-color: #54DD96;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16);

    /*===btn text===*/

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;
    text-align: center;

    cursor: pointer;

}

.head-subtitle {

    color: #0EAF5C;

    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 28px;

}

.head-subtitle:after {
    content: url("./imagine/header/edit - material.png");
    padding-left: 4px;
}

.language select {

    box-sizing: border-box;
    height: 32px;
    width: 95px;
    border: 1px solid #0B1511;
    border-radius: 4px;
    background: transparent;

}

.language {
    position: relative;
    left: 20%;
    top: 0%;
}

/*==================== second setting =====================*/

.second {
    display: flex;
    flex-wrap: wrap;
    background-image: url("./imagine/background/left.png");
    background-repeat: no-repeat;
}

/*=======right=======*/
.second-right {
    width: 50%;
    background: url("./imagine/background/Group 30.png") 40% 5% no-repeat;
}

.title-second {
    max-width: 584px;
    margin-top: 330px;
}

.second-right-text {
    margin-top: 16px;
}

.second-left {
    width: 50%;
}

.card-top {
    display: flex;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-left: 70px;
}

.card-bottom {
    padding-left: 70px;
    padding-top: 64px;
    padding-bottom: 135px;
}

.card {
    max-height: 288px;
    max-width: 242px;
    border-radius: 32px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);

    text-align: center;

    padding: 24px 16px;


}

.card-yellow {
    background-color: #FDD92A;
    margin-top: -140px;
}

.mt-ml {
    margin-top: 150px;
    margin-left: 30px;
}


.card-text {

    /*height: 104px;*/
    /*width: 210px;*/
    line-height: 26px;
    text-align: center;
    margin: auto;

}

.card-title {

    max-width: 210px;
    color: #0B1511;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;

    margin: 16px auto 8px auto;
}


/*===================== 3th setting =======================*/

.third {
    display: flex;

    padding-bottom: 212px;
    background: url("./imagine/background/Group 30.png") 13% 80% no-repeat;
}

.third-left {
    width: 50%;
    padding-left: 70px;
    padding-top: 95px;
}

.third-right {
    width: 50%;
    padding-left: 58px;
}

.img-choose {
    margin-top: -125px;

}

.mt-16 {
    margin-top: 16px;
}

/*======================= value blockchain ======================*/

.val-blockchain {
    padding: 0 84px 0 84px;

    background: url("./imagine/background/Group 30.png") 10% 99% no-repeat;
}

.val-blockchain-title {
    height: 56px;
    max-width: 638px;
    text-align: center;
    margin: auto;
}

.block-text {
    max-height: 84px;
    max-width: 638px;

    text-align: center;
    margin: 16px auto 0 auto;
}

.block-card-wrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 100px;
    padding-bottom: 230px;
}

.blockchain-card {

    height: 216px;
    width: 275px;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 16px 0 rgba(0, 0, 0, 0.1);
    padding: 16px;

    text-align: center;

}

.blockchain-card-title {

    width: 243px;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin: auto;
    padding: 16px 0 16px 0;


}

.blockchain-card-text {

    max-width: 243px;

    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    margin: auto;

}

/*======================== others-say setting ===========================*/

.others-say {
    padding: 0 84px 0 84px;
    text-align: center;

    background: url("./imagine/background/Group 30.png") 82% 93% no-repeat;
}

.others-say-card {

    box-sizing: border-box;
    min-height: 256px;
    width: 337px;
    border: 3px solid #E0E4F3;
    border-radius: 32px 0 32px 0;
    background-color: #FFFFFF;
    box-shadow: 4px 4px 0 0 #FDD92A;

    display: flex;
    flex-wrap: wrap;

    padding: 16px;
}


.say-card-author {
    margin: 10px 24px 0 24px;
    display: flex;
    align-items: center;
}

.card-revers {
    border-radius: 0 32px 0 32px;
}

.others-say-card-photo {
    margin-right: 10px;
}

.others-say-card-title {

    width: 243px;
    color: #0B1511;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
    margin: auto;
    padding: 16px 0 16px 0;


}

.others-say-card-text {

    max-width: 243px;

    color: #0B1511;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    margin: 8px auto 0 auto;

    /*padding: 16px 8px;///*/

}

.name-author h5 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 24px;
}

.name-author p {
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
}

.comment-text {
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;

}

.others-say-card-photo {
    margin-right: 10px;
}

/*======================== Roadmap setting ===========================*/

.roadmap {
    text-align: center;
    margin-bottom: 200px;
    padding: 0 70px;
}

.roadmap-title {
    max-width: 630px;
    margin: auto;
    text-align: center;
}

.roadmap-block {
    display: flex;

    flex-direction: column;
    align-items: center;

    /*====text===========*/
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;

}


.roadmap-img {
    height: 125px;
    max-width: 114px;
    background: url("./imagine/roadmap/Mask.png") 60% 0% no-repeat;


    display: flex;
    align-items: center;
    justify-content: center;
}


.roadmap-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    margin-top: 74px;
}

.tooltip {

    height: 102px;
    width: 242px;
    border-radius: 8px;
    background-color: #54DD96;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;

    padding: 34px 16px 24px 16px;
    margin-top: 84px;

}


/*======================== Team setting ===========================*/

.team {


    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 0 35px 60px 70px;
}

.team-card {
    max-width: 275px;
    max-height: 310px;

    text-align: center;
    margin-right: 55px;
    margin-bottom: 83px;
}

.team-card-logo {
    margin-bottom: 37px;
    margin-top: 46px;
}

.team-logo-text {

    /*max-width: 243px;*/

    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 23px;
    text-align: left;


}

.team-name {

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 27px;
    text-align: center;

}

.team-position {


    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;

}

.team-text {


    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin-bottom: 8px;

}

/*========================  Form setting ==============================*/

.form {
    /*height: 685px; !*temporarily*!*/

    background: url("./imagine/background/form-background.png") no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    padding: 56px 0 55px 0;

}

.form_wrap {
    max-height: 580px;
    width: 39%;
    background-color: #FFFFFF; /*temporarily*/
    padding: 25px 25px 25px 25px;
}


.form-title {

    font-size: 14px;
    font-style: italic;
    letter-spacing: 0;
    line-height: 24px;
    text-align: center;
    margin-top: 8px;

}

.form-title h3 {

    font-size: 38px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 44px;
    text-align: center;
    font-style: normal;
}

.form_full_name {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

}

.form_full_name input {
    width: 100%;

    box-sizing: border-box;
    height: 44px;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #FFFFFF;

    padding-left: 8px;

}

.form_full_name label {

    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;

}

.form_last_name {
    width: 48%; /*temporarily*/
}

.form_first_name {
    width: 48%; /*temporarily*/
}

/*==============*/

.form-input input {


    box-sizing: border-box;
    height: 44px;
    width: 100%;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    background-color: #FFFFFF;

    padding-left: 8px;
}


.form-btn {
    text-align: center;
    margin-top: 32px;

}

.form-btn button {
    height: 48px;
    width: 200px;
    border-radius: 24px;
    background-color: #0B1511;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);

    cursor: pointer;

    /*====text button====*/


    color: #FFFFFF;

    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 26px;

}

/*========================  Footer setting ==============================*/

.footer {
    height: 300px;
    background-color: black;


    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding: 72px 110px;

    /*==== footer text =====*/
    color: #9E9E9E;

    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;

}

.about-us {
    width: 30%;
}

.stay {
    width: 30%;
}

.footer-title {

    color: #E6E6E6;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    margin-bottom: 8px;

}

.footer-input {
    display: flex;
}

/*==================================*/
.footer-input input {
    box-sizing: border-box;
    height: 40px;
    width: 290px;
    border: 1px solid #FDD92A;
    border-radius: 20px 0 0 20px;
    background-color: rgba(253, 217, 42, 0.05);

    padding-left: 16px;

}

.footer-input button {

    height: 40px;
    width: 110px;
    border-radius: 0 100px 100px 0;
    background-color: #FDD92A;
    border-color: #FDD92A;

}

/*===============================================*/
.footer-mail a {

    color: #FDD92A;

    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 24px;
    text-decoration: none;
    margin-left: 8px;
}

.mr-32 {
    margin-right: 32px;
}


.footer-mail {
    display: flex;
    align-items: center;
}
